:root {
    --red: #DC3545;
    --amber: #FFC107;
    --light-amber: #FFD65C;
    --green: #67C93E;
}

/* Whole Page Background */
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: url('../images/farmyard-background.jpg') no-repeat center top;
    background-size: contain;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: 'Short Stack', cursive;
}


header {
    height: 10vh;
}

/* Menu Button */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px;
}

/* Sound/ Mute Button */
.sound {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
}

/* Hidden class to hide non-active sound button */
.hidden {
    display: none !important;
}

/* Main Game Area */
.game-area {
    height: 80vh;
}

/* Question Area: Animal images displayed here using javascript */
#question-area {
    height: 80vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
    padding-top: 50px;
}

/* Animal images */
.img-fluid {
    max-width: 33%;
    max-height: 30%;
}

/* Answer options buttons */
#options-area {
    height: 80vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-content: center;
}

/* Score Area */
.score-area {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-size: 2rem;
}

/* Button to show high score modal */
.high-scores-btn {
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 10px;
}

/* Thumbs up/down icons */
.score-area i {
    font-size: 25px;
    padding-right: 10px;
    margin: 0;
}

.scores {
    margin: 10px;
}

/* Removes bootstrap hover effects on scores */
.no-hover {
    pointer-events: none;
}

/* Modals */

.modal-background {
    background-color: var(--light-amber);
}

.modal-header {
    justify-content: center;
    border: none;
    padding-bottom: 8px;
    display: block;
}

.modal-body {
    padding: 8px;
}

.modal-body p {
    font-size: larger;
    padding-top: 8px;
}

.modal-footer {
    display: flex;
    justify-content: space-around;
    border: none;
    padding-top: 8px;
}

.modal-image {
    height: 200px;
    width: auto;
}

.stored-scores-display {
    font-size: smaller;
}

/* End of game modal */
#stars {
    font-size: x-large;
    padding-top: 16px;
}

#trophy img {
    height: 30vh;
}

#trophy {
    height: 35vh;
    width: 35vh;
    background: var(--green);
    border-radius: 50%;
    padding-top: 4.2vh;
}


/* Media Queries */

/* Adjusts the size of the animal images */
@media screen and (max-width: 480px) {
    .img-fluid {
        max-width: 50%;
        max-height: 20%;
    }
}

/* Adds a line break on the high scores button on small screens */
@media screen and (min-width: 540px) {
    .small-screen-br {
        display: none;
    }
    .modal-image {
        height: 300px;
        width: auto;
    }
}

/* Makes the font-size smaller on the high scores button on small screens */
@media screen and (max-width: 540px) {
    .high-scores-btn {
        font-size: small;
    }
}

/* Adjusts the padding of score area for small screens */
@media screen and (max-width: 450px) {
    .scores {
        padding: 8px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

/* Adjusts the padding of score area for very small screens */
@media screen and (max-width: 360px) {
    .score-area i {
        padding-right: 0px;
    }
    .scores {
        padding: 8px 2px;
    }
}
