body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: url('../images/farmyard-background.jpg') no-repeat center bottom;
    background-size: contain;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.heading {
    text-align: center;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px;
}

.sound {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
}

.hidden {
    display: none;
}

.game-area {
    height: 80vh;
}

#question-area {
    height: 80vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
    padding-top: 50px;
}

#options-area {
    height: 80vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-content: space-between;
}

.score-area {
}

.img-small {
    max-width: 25%;
    max-height: 33%;
}

.img-large {
    max-width: 33%;
    max-height: 50%;
}